// Color
$c-primary: #b61984;

$c1-300: #181818;
$c1-400: #191919;

$c2-200: #dcd1f3;

$c-black: #000;
$c-white: #fff;

// Text
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semiBold: 600;
$text-bold: 700;

// font
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
