*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

.form-control:focus,
.form-select:focus,
.textarea:focus {
  box-shadow: none;
}
