.footer {
  padding: 8rem 0;
  background-image: url(../img/footer_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .row {
    .col {
      .item__footer {
        padding: 0 4rem;
        .item__footer-head {
          margin-bottom: 2rem;
          h4 {
            @include Text(2.3rem, $text-semiBold, $c-white);
          }
        }
      }
      .item__footer-body {
        color: $c-white;
        .body__content {
          span {
            display: block;
            margin-bottom: 0.5rem;
            @include Text(1.35rem, $text-regular, $c-white);
            border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
            i {
              margin-right: 0.5rem;
            }
            p {
              display: inline;
            }
            a {
              margin-bottom: 1rem;
              display: inline-block;
              @include Text(1.35rem, $text-regular, $c-white);
              text-decoration: none;
              &:hover {
                opacity: 0.8;
              }
            }
          }
          .contact-us {
            border: none;
          }
          .footer__contact-icon {
            a {
              display: inline-block;
              margin-right: 1.2rem;
              color: $c-white;
              transition: all 0.2s ease;
              &:hover {
                color: $c-black;
              }
            }
          }
        }

        .footer__newsletter-email {
          span {
            input {
              border: 0.1rem solid rgba(255, 255, 255, 0.1);
              outline: none;
              border-radius: 2rem;
              padding: 1rem 3.5rem;
              background: transparent;
              text-align: center;
              @include Text(1.35rem, $text-regular, $c-white);
              transition: all 0.3 ease;
              &::-webkit-input-placeholder {
                color: $c-white;
              }

              &::-moz-placeholder {
                color: $c-white;
              }
              &:focus {
                border: 0.1rem solid $c-white;
              }
            }
          }
        }

        .footer__newsletter-button {
          margin-top: 1rem;
          .btn-newsletter-footer {
            -webkit-box-shadow: 0 0 0 3rem $c-white inset;
            box-shadow: 0 0 0 3rem $c-white inset;
            display: block;
            text-decoration: none;
            padding: 1rem 1.5rem;
            border-radius: 5rem;
            background: transparent;
            @include Text(1.35rem, $text-medium, $c1-300);
            transition: all 0.3s ease;
            text-align: center;
            letter-spacing: 0.1rem;
            &:hover {
              color: $c-white;
              -webkit-box-shadow: 0 0 0 0.1rem $c-white inset;
              box-shadow: 0 0 0 0.1rem $c-white inset;
            }

            i {
              padding-right: 0.5rem;
            }
          }
        }
      }
    }

    @include tablet-md {
      padding-bottom: 18rem;
    }
    @include mobile-sm {
      padding-bottom: 18rem;
    }
    @include mobile-xs {
      padding-bottom: 18rem;
    }
  }

  @include tablet-md {
    padding: 7rem 0;
  }

  @include mobile-sm {
    padding: 4rem 0;
  }
}
